<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>iGift0000.png</string>
	<string>iGift0001.png</string>
	<string>iGift0002.png</string>
	<string>iGift0003.png</string>
	<string>iGift0004.png</string>
	<string>iGift0005.png</string>
	<string>iGift0006.png</string>
	<string>iGift0007.png</string>
	<string>iGift0008.png</string>
	<string>iGift0009.png</string>
	<string>iGift0010.png</string>
	<string>iGift0011.png</string>
	<string>iGift0012.png</string>
	<string>iGift0013.png</string>
	<string>iGift0014.png</string>
	<string>iGift0015.png</string>
	<string>iGift0016.png</string>
	<string>iGift0017.png</string>
	<string>iGift0018.png</string>
	<string>iGift0019.png</string>
	<string>iGift0020.png</string>
	<string>iGift0021.png</string>
	<string>iGift0022.png</string>
	<string>iGift0023.png</string>
	<string>iGift0024.png</string>
	<string>iGift0025.png</string>
	<string>iGift0026.png</string>
	<string>iGift0027.png</string>
	<string>iGift0028.png</string>
	<string>iGift0029.png</string>
	<string>iGift0030.png</string>
</array>
</plist>
