<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AutoDeletionPeriod</key>
	<integer>0</integer>
	<key>Notification</key>
	<true/>
	<key>DeletionStartDate</key>
	<date>2011-04-13T03:57:04Z</date>
</dict>
</plist>
