<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VerifyUserName</key>
	<string>{FF18A459-076F-43CD-8688-FFF1065EBAE9}</string>
	<key>VerifyPassword</key>
	<string>the-ASquare.com</string>
</dict>
</plist>
